/*! jQuery UI - v1.9.2 - 2015-05-24
* http://jqueryui.com
* Includes: jquery.ui.core.css, jquery.ui.tabs.css, jquery.ui.theme.css
* To view and modify this theme, visit http://jqueryui.com/themeroller/?ffDefault=Trebuchet%20MS%2CHelvetica%2CArial%2Csans-serif&fwDefault=bold&fsDefault=1.1em&cornerRadius=6px&bgColorHeader=dddddd&bgTextureHeader=glass&bgImgOpacityHeader=35&borderColorHeader=bbbbbb&fcHeader=444444&iconColorHeader=999999&bgColorContent=c9c9c9&bgTextureContent=inset_soft&bgImgOpacityContent=50&borderColorContent=aaaaaa&fcContent=333333&iconColorContent=999999&bgColorDefault=eeeeee&bgTextureDefault=glass&bgImgOpacityDefault=60&borderColorDefault=cccccc&fcDefault=3383bb&iconColorDefault=70b2e1&bgColorHover=f8f8f8&bgTextureHover=glass&bgImgOpacityHover=100&borderColorHover=bbbbbb&fcHover=599fcf&iconColorHover=3383bb&bgColorActive=999999&bgTextureActive=inset_hard&bgImgOpacityActive=75&borderColorActive=999999&fcActive=ffffff&iconColorActive=454545&bgColorHighlight=eeeeee&bgTextureHighlight=flat&bgImgOpacityHighlight=55&borderColorHighlight=ffffff&fcHighlight=444444&iconColorHighlight=3383bb&bgColorError=c0402a&bgTextureError=flat&bgImgOpacityError=55&borderColorError=c0402a&fcError=ffffff&iconColorError=fbc856&bgColorOverlay=eeeeee&bgTextureOverlay=flat&bgImgOpacityOverlay=0&opacityOverlay=80&bgColorShadow=aaaaaa&bgTextureShadow=flat&bgImgOpacityShadow=0&opacityShadow=60&thicknessShadow=4px&offsetTopShadow=-4px&offsetLeftShadow=-4px&cornerRadiusShadow=0px
* Copyright 2015 jQuery Foundation and other contributors; Licensed MIT */

/* Layout helpers
----------------------------------*/

.ui-helper-hidden { display: none; }
.ui-helper-hidden-accessible { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }
.ui-helper-reset { margin: 0; padding: 0; border: 0; outline: 0; line-height: 1.3; text-decoration: none; font-size: 100%; list-style: none; }
.ui-helper-clearfix:before, .ui-helper-clearfix:after { content: ""; display: table; }
.ui-helper-clearfix:after { clear: both; }
.ui-helper-clearfix { zoom: 1; }
.ui-helper-zfix { width: 100%; height: 100%; top: 0; left: 0; position: absolute; opacity: 0; filter:Alpha(Opacity=0); }


/* Interaction Cues
----------------------------------*/
.ui-state-disabled { cursor: default !important; }


/* Icons
----------------------------------*/

/* states and images */
.ui-icon { display: block; text-indent: -99999px; overflow: hidden; background-repeat: no-repeat; }


/* Misc visuals
----------------------------------*/

/* Overlays */
.ui-widget-overlay { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }
.ui-tabs { position: relative; padding: .2em; zoom: 1; } /* position: relative prevents IE scroll bug (element with position: relative inside container with overflow: auto appear as "fixed") */
.ui-tabs .ui-tabs-nav { margin: 0; padding: .2em .2em 0; }
.ui-tabs .ui-tabs-nav li { list-style: none; float: left; position: relative; top: 0; margin: 1px .2em 0 0; border-bottom: 0; padding: 0; white-space: nowrap; }
.ui-tabs .ui-tabs-nav li a { float: left; padding: .5em 1em; text-decoration: none; }
.ui-tabs .ui-tabs-nav li.ui-tabs-active { margin-bottom: -1px; padding-bottom: 1px; }
.ui-tabs .ui-tabs-nav li.ui-tabs-active a, .ui-tabs .ui-tabs-nav li.ui-state-disabled a, .ui-tabs .ui-tabs-nav li.ui-tabs-loading a { cursor: text; }
.ui-tabs .ui-tabs-nav li a, .ui-tabs-collapsible .ui-tabs-nav li.ui-tabs-active a { cursor: pointer; } /* first selector in group seems obsolete, but required to overcome bug in Opera applying cursor: text overall if defined elsewhere... */
.ui-tabs .ui-tabs-panel { display: block; border-width: 0; padding: 1em 1.4em; background: none; }

/* Component containers
----------------------------------*/
.ui-widget { font-family: Trebuchet MS,Helvetica,Arial,sans-serif; font-size: 1.1em; }
.ui-widget .ui-widget { font-size: 1em; }
.ui-widget input, .ui-widget select, .ui-widget textarea, .ui-widget button { font-family: Trebuchet MS,Helvetica,Arial,sans-serif; font-size: 1em; }
.ui-widget-content { border: 1px solid #aaaaaa; background: #c9c9c9; color: #333333; }
.ui-widget-content a { color: #333333; }
.ui-widget-header { border: 1px solid #bbbbbb; background: #dddddd; color: #444444; font-weight: bold; }
.ui-widget-header a { color: #444444; }

/* Interaction states
----------------------------------*/
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default { border: 1px solid #cccccc; background: #eeeeee; font-weight: bold; color: #3383bb; }
.ui-state-default a, .ui-state-default a:link, .ui-state-default a:visited { color: #3383bb; text-decoration: none; }
.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus { border: 1px solid #bbbbbb; background: #f8f8f8; font-weight: bold; color: #599fcf; }
.ui-state-hover a, .ui-state-hover a:hover, .ui-state-hover a:link, .ui-state-hover a:visited { color: #599fcf; text-decoration: none; }
.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active { border: 1px solid #999999; background: #999999; font-weight: bold; color: #ffffff; }
.ui-state-active a, .ui-state-active a:link, .ui-state-active a:visited { color: #ffffff; text-decoration: none; }

/* Interaction Cues
----------------------------------*/
.ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight  {border: 1px solid #ffffff; background: #eeeeee url("images/ui-bg_flat_55_eeeeee_40x100.png") 50% 50% repeat-x; color: #444444; }
.ui-state-highlight a, .ui-widget-content .ui-state-highlight a,.ui-widget-header .ui-state-highlight a { color: #444444; }
.ui-state-error, .ui-widget-content .ui-state-error, .ui-widget-header .ui-state-error {border: 1px solid #c0402a; background: #c0402a url("images/ui-bg_flat_55_c0402a_40x100.png") 50% 50% repeat-x; color: #ffffff; }
.ui-state-error a, .ui-widget-content .ui-state-error a, .ui-widget-header .ui-state-error a { color: #ffffff; }
.ui-state-error-text, .ui-widget-content .ui-state-error-text, .ui-widget-header .ui-state-error-text { color: #ffffff; }
.ui-priority-primary, .ui-widget-content .ui-priority-primary, .ui-widget-header .ui-priority-primary { font-weight: bold; }
.ui-priority-secondary, .ui-widget-content .ui-priority-secondary,  .ui-widget-header .ui-priority-secondary { opacity: .7; filter:Alpha(Opacity=70); font-weight: normal; }
.ui-state-disabled, .ui-widget-content .ui-state-disabled, .ui-widget-header .ui-state-disabled { opacity: .35; filter:Alpha(Opacity=35); background-image: none; }
.ui-state-disabled .ui-icon { filter:Alpha(Opacity=35); } /* For IE8 - See #6059 */

/* Icons
----------------------------------*/

/* states and images */
.ui-icon { width: 16px; height: 16px; background-image: url("images/ui-icons_999999_256x240.png"); }
.ui-widget-content .ui-icon {background-image: url("images/ui-icons_999999_256x240.png"); }
.ui-widget-header .ui-icon {background-image: url("images/ui-icons_999999_256x240.png"); }
.ui-state-default .ui-icon { background-image: url("images/ui-icons_70b2e1_256x240.png"); }
.ui-state-hover .ui-icon, .ui-state-focus .ui-icon {background-image: url("images/ui-icons_3383bb_256x240.png"); }
.ui-state-active .ui-icon {background-image: url("images/ui-icons_454545_256x240.png"); }
.ui-state-highlight .ui-icon {background-image: url("images/ui-icons_3383bb_256x240.png"); }
.ui-state-error .ui-icon, .ui-state-error-text .ui-icon {background-image: url("images/ui-icons_fbc856_256x240.png"); }

/* positioning */
.ui-icon-carat-1-n { background-position: 0 0; }
.ui-icon-carat-1-ne { background-position: -16px 0; }
.ui-icon-carat-1-e { background-position: -32px 0; }
.ui-icon-carat-1-se { background-position: -48px 0; }
.ui-icon-carat-1-s { background-position: -64px 0; }
.ui-icon-carat-1-sw { background-position: -80px 0; }
.ui-icon-carat-1-w { background-position: -96px 0; }
.ui-icon-carat-1-nw { background-position: -112px 0; }
.ui-icon-carat-2-n-s { background-position: -128px 0; }
.ui-icon-carat-2-e-w { background-position: -144px 0; }
.ui-icon-triangle-1-n { background-position: 0 -16px; }
.ui-icon-triangle-1-ne { background-position: -16px -16px; }
.ui-icon-triangle-1-e { background-position: -32px -16px; }
.ui-icon-triangle-1-se { background-position: -48px -16px; }
.ui-icon-triangle-1-s { background-position: -64px -16px; }
.ui-icon-triangle-1-sw { background-position: -80px -16px; }
.ui-icon-triangle-1-w { background-position: -96px -16px; }
.ui-icon-triangle-1-nw { background-position: -112px -16px; }
.ui-icon-triangle-2-n-s { background-position: -128px -16px; }
.ui-icon-triangle-2-e-w { background-position: -144px -16px; }
.ui-icon-arrow-1-n { background-position: 0 -32px; }
.ui-icon-arrow-1-ne { background-position: -16px -32px; }
.ui-icon-arrow-1-e { background-position: -32px -32px; }
.ui-icon-arrow-1-se { background-position: -48px -32px; }
.ui-icon-arrow-1-s { background-position: -64px -32px; }
.ui-icon-arrow-1-sw { background-position: -80px -32px; }
.ui-icon-arrow-1-w { background-position: -96px -32px; }
.ui-icon-arrow-1-nw { background-position: -112px -32px; }
.ui-icon-arrow-2-n-s { background-position: -128px -32px; }
.ui-icon-arrow-2-ne-sw { background-position: -144px -32px; }
.ui-icon-arrow-2-e-w { background-position: -160px -32px; }
.ui-icon-arrow-2-se-nw { background-position: -176px -32px; }
.ui-icon-arrowstop-1-n { background-position: -192px -32px; }
.ui-icon-arrowstop-1-e { background-position: -208px -32px; }
.ui-icon-arrowstop-1-s { background-position: -224px -32px; }
.ui-icon-arrowstop-1-w { background-position: -240px -32px; }
.ui-icon-arrowthick-1-n { background-position: 0 -48px; }
.ui-icon-arrowthick-1-ne { background-position: -16px -48px; }
.ui-icon-arrowthick-1-e { background-position: -32px -48px; }
.ui-icon-arrowthick-1-se { background-position: -48px -48px; }
.ui-icon-arrowthick-1-s { background-position: -64px -48px; }
.ui-icon-arrowthick-1-sw { background-position: -80px -48px; }
.ui-icon-arrowthick-1-w { background-position: -96px -48px; }
.ui-icon-arrowthick-1-nw { background-position: -112px -48px; }
.ui-icon-arrowthick-2-n-s { background-position: -128px -48px; }
.ui-icon-arrowthick-2-ne-sw { background-position: -144px -48px; }
.ui-icon-arrowthick-2-e-w { background-position: -160px -48px; }
.ui-icon-arrowthick-2-se-nw { background-position: -176px -48px; }
.ui-icon-arrowthickstop-1-n { background-position: -192px -48px; }
.ui-icon-arrowthickstop-1-e { background-position: -208px -48px; }
.ui-icon-arrowthickstop-1-s { background-position: -224px -48px; }
.ui-icon-arrowthickstop-1-w { background-position: -240px -48px; }
.ui-icon-arrowreturnthick-1-w { background-position: 0 -64px; }
.ui-icon-arrowreturnthick-1-n { background-position: -16px -64px; }
.ui-icon-arrowreturnthick-1-e { background-position: -32px -64px; }
.ui-icon-arrowreturnthick-1-s { background-position: -48px -64px; }
.ui-icon-arrowreturn-1-w { background-position: -64px -64px; }
.ui-icon-arrowreturn-1-n { background-position: -80px -64px; }
.ui-icon-arrowreturn-1-e { background-position: -96px -64px; }
.ui-icon-arrowreturn-1-s { background-position: -112px -64px; }
.ui-icon-arrowrefresh-1-w { background-position: -128px -64px; }
.ui-icon-arrowrefresh-1-n { background-position: -144px -64px; }
.ui-icon-arrowrefresh-1-e { background-position: -160px -64px; }
.ui-icon-arrowrefresh-1-s { background-position: -176px -64px; }
.ui-icon-arrow-4 { background-position: 0 -80px; }
.ui-icon-arrow-4-diag { background-position: -16px -80px; }
.ui-icon-extlink { background-position: -32px -80px; }
.ui-icon-newwin { background-position: -48px -80px; }
.ui-icon-refresh { background-position: -64px -80px; }
.ui-icon-shuffle { background-position: -80px -80px; }
.ui-icon-transfer-e-w { background-position: -96px -80px; }
.ui-icon-transferthick-e-w { background-position: -112px -80px; }
.ui-icon-folder-collapsed { background-position: 0 -96px; }
.ui-icon-folder-open { background-position: -16px -96px; }
.ui-icon-document { background-position: -32px -96px; }
.ui-icon-document-b { background-position: -48px -96px; }
.ui-icon-note { background-position: -64px -96px; }
.ui-icon-mail-closed { background-position: -80px -96px; }
.ui-icon-mail-open { background-position: -96px -96px; }
.ui-icon-suitcase { background-position: -112px -96px; }
.ui-icon-comment { background-position: -128px -96px; }
.ui-icon-person { background-position: -144px -96px; }
.ui-icon-print { background-position: -160px -96px; }
.ui-icon-trash { background-position: -176px -96px; }
.ui-icon-locked { background-position: -192px -96px; }
.ui-icon-unlocked { background-position: -208px -96px; }
.ui-icon-bookmark { background-position: -224px -96px; }
.ui-icon-tag { background-position: -240px -96px; }
.ui-icon-home { background-position: 0 -112px; }
.ui-icon-flag { background-position: -16px -112px; }
.ui-icon-calendar { background-position: -32px -112px; }
.ui-icon-cart { background-position: -48px -112px; }
.ui-icon-pencil { background-position: -64px -112px; }
.ui-icon-clock { background-position: -80px -112px; }
.ui-icon-disk { background-position: -96px -112px; }
.ui-icon-calculator { background-position: -112px -112px; }
.ui-icon-zoomin { background-position: -128px -112px; }
.ui-icon-zoomout { background-position: -144px -112px; }
.ui-icon-search { background-position: -160px -112px; }
.ui-icon-wrench { background-position: -176px -112px; }
.ui-icon-gear { background-position: -192px -112px; }
.ui-icon-heart { background-position: -208px -112px; }
.ui-icon-star { background-position: -224px -112px; }
.ui-icon-link { background-position: -240px -112px; }
.ui-icon-cancel { background-position: 0 -128px; }
.ui-icon-plus { background-position: -16px -128px; }
.ui-icon-plusthick { background-position: -32px -128px; }
.ui-icon-minus { background-position: -48px -128px; }
.ui-icon-minusthick { background-position: -64px -128px; }
.ui-icon-close { background-position: -80px -128px; }
.ui-icon-closethick { background-position: -96px -128px; }
.ui-icon-key { background-position: -112px -128px; }
.ui-icon-lightbulb { background-position: -128px -128px; }
.ui-icon-scissors { background-position: -144px -128px; }
.ui-icon-clipboard { background-position: -160px -128px; }
.ui-icon-copy { background-position: -176px -128px; }
.ui-icon-contact { background-position: -192px -128px; }
.ui-icon-image { background-position: -208px -128px; }
.ui-icon-video { background-position: -224px -128px; }
.ui-icon-script { background-position: -240px -128px; }
.ui-icon-alert { background-position: 0 -144px; }
.ui-icon-info { background-position: -16px -144px; }
.ui-icon-notice { background-position: -32px -144px; }
.ui-icon-help { background-position: -48px -144px; }
.ui-icon-check { background-position: -64px -144px; }
.ui-icon-bullet { background-position: -80px -144px; }
.ui-icon-radio-on { background-position: -96px -144px; }
.ui-icon-radio-off { background-position: -112px -144px; }
.ui-icon-pin-w { background-position: -128px -144px; }
.ui-icon-pin-s { background-position: -144px -144px; }
.ui-icon-play { background-position: 0 -160px; }
.ui-icon-pause { background-position: -16px -160px; }
.ui-icon-seek-next { background-position: -32px -160px; }
.ui-icon-seek-prev { background-position: -48px -160px; }
.ui-icon-seek-end { background-position: -64px -160px; }
.ui-icon-seek-start { background-position: -80px -160px; }
/* ui-icon-seek-first is deprecated, use ui-icon-seek-start instead */
.ui-icon-seek-first { background-position: -80px -160px; }
.ui-icon-stop { background-position: -96px -160px; }
.ui-icon-eject { background-position: -112px -160px; }
.ui-icon-volume-off { background-position: -128px -160px; }
.ui-icon-volume-on { background-position: -144px -160px; }
.ui-icon-power { background-position: 0 -176px; }
.ui-icon-signal-diag { background-position: -16px -176px; }
.ui-icon-signal { background-position: -32px -176px; }
.ui-icon-battery-0 { background-position: -48px -176px; }
.ui-icon-battery-1 { background-position: -64px -176px; }
.ui-icon-battery-2 { background-position: -80px -176px; }
.ui-icon-battery-3 { background-position: -96px -176px; }
.ui-icon-circle-plus { background-position: 0 -192px; }
.ui-icon-circle-minus { background-position: -16px -192px; }
.ui-icon-circle-close { background-position: -32px -192px; }
.ui-icon-circle-triangle-e { background-position: -48px -192px; }
.ui-icon-circle-triangle-s { background-position: -64px -192px; }
.ui-icon-circle-triangle-w { background-position: -80px -192px; }
.ui-icon-circle-triangle-n { background-position: -96px -192px; }
.ui-icon-circle-arrow-e { background-position: -112px -192px; }
.ui-icon-circle-arrow-s { background-position: -128px -192px; }
.ui-icon-circle-arrow-w { background-position: -144px -192px; }
.ui-icon-circle-arrow-n { background-position: -160px -192px; }
.ui-icon-circle-zoomin { background-position: -176px -192px; }
.ui-icon-circle-zoomout { background-position: -192px -192px; }
.ui-icon-circle-check { background-position: -208px -192px; }
.ui-icon-circlesmall-plus { background-position: 0 -208px; }
.ui-icon-circlesmall-minus { background-position: -16px -208px; }
.ui-icon-circlesmall-close { background-position: -32px -208px; }
.ui-icon-squaresmall-plus { background-position: -48px -208px; }
.ui-icon-squaresmall-minus { background-position: -64px -208px; }
.ui-icon-squaresmall-close { background-position: -80px -208px; }
.ui-icon-grip-dotted-vertical { background-position: 0 -224px; }
.ui-icon-grip-dotted-horizontal { background-position: -16px -224px; }
.ui-icon-grip-solid-vertical { background-position: -32px -224px; }
.ui-icon-grip-solid-horizontal { background-position: -48px -224px; }
.ui-icon-gripsmall-diagonal-se { background-position: -64px -224px; }
.ui-icon-grip-diagonal-se { background-position: -80px -224px; }


/* Misc visuals
----------------------------------*/

/* Corner radius */
/* .ui-corner-all, .ui-corner-top, .ui-corner-left, .ui-corner-tl { -moz-border-radius-topleft: 6px; -webkit-border-top-left-radius: 6px; -khtml-border-top-left-radius: 6px; border-top-left-radius: 6px; }
.ui-corner-all, .ui-corner-top, .ui-corner-right, .ui-corner-tr { -moz-border-radius-topright: 6px; -webkit-border-top-right-radius: 6px; -khtml-border-top-right-radius: 6px; border-top-right-radius: 6px; }
.ui-corner-all, .ui-corner-bottom, .ui-corner-left, .ui-corner-bl { -moz-border-radius-bottomleft: 6px; -webkit-border-bottom-left-radius: 6px; -khtml-border-bottom-left-radius: 6px; border-bottom-left-radius: 6px; }
.ui-corner-all, .ui-corner-bottom, .ui-corner-right, .ui-corner-br { -moz-border-radius-bottomright: 6px; -webkit-border-bottom-right-radius: 6px; -khtml-border-bottom-right-radius: 6px; border-bottom-right-radius: 6px; } */

/* Overlays */
.ui-widget-overlay { background: #eeeeee url("images/ui-bg_flat_0_eeeeee_40x100.png") 50% 50% repeat-x; opacity: .8;filter:Alpha(Opacity=80); }
.ui-widget-shadow { margin: -4px 0 0 -4px; padding: 4px; background: #aaaaaa url("images/ui-bg_flat_0_aaaaaa_40x100.png") 50% 50% repeat-x; opacity: .6;filter:Alpha(Opacity=60); -moz-border-radius: 0px; -khtml-border-radius: 0px; -webkit-border-radius: 0px; border-radius: 0px; }
/* Preload images */

body:after {
  content: image-url('close.png') image-url('loading.gif');
  display: none;
}

.lightboxOverlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9999;
  background-color: black;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  opacity: 0.8;
  display: none;
}

.lightbox {
  position: absolute;
  left: 0;
  width: 100%;
  z-index: 10000;
  text-align: center;
  line-height: 0;
  font-weight: normal;
}

.lightbox .lb-image {
  display: block;
  height: auto;
  max-width: inherit;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
}

.lightbox a img {
  border: none;
}

.lb-outerContainer {
  position: relative;
  background-color: white;
  *zoom: 1;
  width: 250px;
  height: 250px;
  margin: 0 auto;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
}

.lb-outerContainer:after {
  content: "";
  display: table;
  clear: both;
}

.lb-container {
  padding: 4px;
}

.lb-loader {
  position: absolute;
  top: 43%;
  left: 0;
  height: 25%;
  width: 100%;
  text-align: center;
  line-height: 0;
}

.lb-cancel {
  display: block;
  width: 32px;
  height: 32px;
  margin: 0 auto;
  background: image-url('loading.gif') no-repeat;
}

.lb-nav {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 10;
}

.lb-container > .nav {
  left: 0;
}

.lb-dataContainer {
  margin: 0 auto;
  padding-top: 5px;
  *zoom: 1;
  width: 100%;
  -moz-border-radius-bottomleft: 4px;
  -webkit-border-bottom-left-radius: 4px;
  border-bottom-left-radius: 4px;
  -moz-border-radius-bottomright: 4px;
  -webkit-border-bottom-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.lb-dataContainer:after {
  content: "";
  display: table;
  clear: both;
}

.lb-data {
  padding: 0 4px;
  color: #ccc;
}

.lb-data .lb-details {
  width: 85%;
  float: left;
  text-align: left;
  line-height: 1.1em;
}

.lb-data .lb-caption {
  font-size: 13px;
  font-weight: bold;
  line-height: 1em;
}

.lb-data .lb-number {
  display: block;
  clear: left;
  padding-bottom: 1em;
  font-size: 12px;
  color: #999999;
}

.lb-data .lb-close {
  display: block;
  float: right;
  width: 30px;
  height: 30px;
  background: image-url('close.png') top right no-repeat;
  text-align: right;
  outline: none;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  opacity: 0.7;
  -webkit-transition: opacity 0.2s;
  -moz-transition: opacity 0.2s;
  -o-transition: opacity 0.2s;
  transition: opacity 0.2s;
}

.lb-data .lb-close:hover {
  cursor: pointer;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}
/* Slider */

.slick-slider {
    position: relative;
    display: block;
    -moz-box-sizing: border-box;
         box-sizing: border-box;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
        touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list {
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
}
.slick-list:focus {
    outline: none;
}
.slick-list.dragging {
    cursor: pointer;
    cursor: hand;
}
.slick-slider .slick-track,
.slick-slider .slick-list {
    -webkit-transform: translate3d(0, 0, 0);
       -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
         -o-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
			height:440px;
}
button.slick-prev, button.slick-next {
	width: 28px;
    height: 56px;
    position: absolute;
    top: 50%;
    margin-top: -19px;
    left: 30px;
    text-indent: -9000px;
    opacity: 0.7;
    cursor: pointer;
    z-index: 100;
	border:none;
}
button.slick-prev {
	background: image-url('left-arrow.fw.png') no-repeat top left;
}
button.slick-next {
	background: image-url('right-arrow.fw.png') no-repeat top right;
    left: auto;
    right: 30px;
	opacity: 0.7;
}
button.slick-prev:hover, button.slick-next:hover {
	opacity: 1.0;
}
.slick-track {
    position: relative;
    top: 0;
    left: 0;
    display: block;
}
.slick-track:before,
.slick-track:after {
    display: table;
    content: '';
}
.slick-track:after {
    clear: both;
}
.slick-loading .slick-track {
    visibility: hidden;
}

.slick-slide {
    display: none;
    float: left;
    height: 100%;
    min-height: 1px;
}
[dir='rtl'] .slick-slide {
    float: right;
}
.slick-slide img {
    display: block;
}
.slick-slide.slick-loading img {
    display: none;
}
.slick-slide.dragging img {
    pointer-events: none;
}
.slick-initialized .slick-slide {
    display: block;
}
.slick-loading .slick-slide {
    visibility: hidden;
}
.slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent;
}
/* line 1, /home/igor/RubymineProjects/PhotoUjin/app/assets/stylesheets/pages.scss */
html, body {
  width: 100%;
  height: 100%;
}

/* line 2, /home/igor/RubymineProjects/PhotoUjin/app/assets/stylesheets/pages.scss */
body {
  padding: 0;
  margin: 0;
  font: 12px 'Arial Unicode MS', sans-serif;
  background: #fff;
  color: #535353;
}

/* line 3, /home/igor/RubymineProjects/PhotoUjin/app/assets/stylesheets/pages.scss */
div, p, a, span, em, strong, img, h1, h2, h3, h4, h5, h6, ul, ol, li, dl, dt, dd, table, td, tr, form, fieldset, label, select, checkbox, input, textarea {
  padding: 0;
  margin: 0;
  outline: none;
  list-style: none;
}

/* line 9, /home/igor/RubymineProjects/PhotoUjin/app/assets/stylesheets/pages.scss */
select, input, textarea {
  font-size: 12px;
  vertical-align: middle;
}

/* line 10, /home/igor/RubymineProjects/PhotoUjin/app/assets/stylesheets/pages.scss */
textarea {
  vertical-align: top;
}

/* line 11, /home/igor/RubymineProjects/PhotoUjin/app/assets/stylesheets/pages.scss */
:focus {
  outline: none;
}

/* line 12, /home/igor/RubymineProjects/PhotoUjin/app/assets/stylesheets/pages.scss */
input[type=submit] {
  cursor: pointer;
}

/* img, fieldset                  { border:0; } */
/* line 14, /home/igor/RubymineProjects/PhotoUjin/app/assets/stylesheets/pages.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 15, /home/igor/RubymineProjects/PhotoUjin/app/assets/stylesheets/pages.scss */
a:link, a:visited {
  font: 12px Arial, sans-serif;
  color: #000;
  text-decoration: none;
}

/* line 16, /home/igor/RubymineProjects/PhotoUjin/app/assets/stylesheets/pages.scss */
a:hover {
  text-decoration: none;
}

/* line 18, /home/igor/RubymineProjects/PhotoUjin/app/assets/stylesheets/pages.scss */
.float-r {
  float: right !important;
}

/* line 19, /home/igor/RubymineProjects/PhotoUjin/app/assets/stylesheets/pages.scss */
.float-l {
  float: left !important;
}

/* line 20, /home/igor/RubymineProjects/PhotoUjin/app/assets/stylesheets/pages.scss */
.no-float {
  float: none !important;
}

/* line 21, /home/igor/RubymineProjects/PhotoUjin/app/assets/stylesheets/pages.scss */
.no-border {
  border: 0 !important;
}

/* line 22, /home/igor/RubymineProjects/PhotoUjin/app/assets/stylesheets/pages.scss */
.no-bg {
  background: none !important;
}

/* line 23, /home/igor/RubymineProjects/PhotoUjin/app/assets/stylesheets/pages.scss */
.no-margin {
  margin: 0 !important;
}

/* line 24, /home/igor/RubymineProjects/PhotoUjin/app/assets/stylesheets/pages.scss */
.no-padding {
  padding: 0 !important;
}

/* line 25, /home/igor/RubymineProjects/PhotoUjin/app/assets/stylesheets/pages.scss */
.no-display {
  display: none !important;
}

/* line 26, /home/igor/RubymineProjects/PhotoUjin/app/assets/stylesheets/pages.scss */
.display {
  display: block !important;
}

/* line 27, /home/igor/RubymineProjects/PhotoUjin/app/assets/stylesheets/pages.scss */
.inline {
  display: inline !important;
}

/* line 28, /home/igor/RubymineProjects/PhotoUjin/app/assets/stylesheets/pages.scss */
.overflow {
  overflow: hidden !important;
}

/* line 29, /home/igor/RubymineProjects/PhotoUjin/app/assets/stylesheets/pages.scss */
.align-r {
  text-align: right !important;
}

/* line 30, /home/igor/RubymineProjects/PhotoUjin/app/assets/stylesheets/pages.scss */
.align-l {
  text-align: left !important;
}

/* line 31, /home/igor/RubymineProjects/PhotoUjin/app/assets/stylesheets/pages.scss */
.align-c {
  text-align: center !important;
}

/* line 32, /home/igor/RubymineProjects/PhotoUjin/app/assets/stylesheets/pages.scss */
.clear {
  clear: both;
}

@font-face {
  font-family: 'MyriadProRegular';
  src: url("MyriadProRegular.eot");
  src: url("MyriadProRegular.eot?#iefix") format("embedded-opentype"), url("MyriadProRegular.woff") format("woff"), url("MyriadProRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: 'Bedrock-Cyr';
  src: url("Bedrock-Cyr.eot");
  src: url("Bedrock-Cyr.eot?#iefix") format("embedded-opentype"), url("Bedrock-Cyr.woff") format("woff"), url("Bedrock-Cyr.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
/* line 53, /home/igor/RubymineProjects/PhotoUjin/app/assets/stylesheets/pages.scss */
.upper {
  text-transform: uppercase;
}

/* Circular Content Carousel Style */
/* line 57, /home/igor/RubymineProjects/PhotoUjin/app/assets/stylesheets/pages.scss */
.ui-state-default a, .ui-state-default a:link, .ui-state-default a:visited {
  color: #000;
}

/* line 60, /home/igor/RubymineProjects/PhotoUjin/app/assets/stylesheets/pages.scss */
.ui-widget-header {
  background: none;
  border: none;
}

/* line 64, /home/igor/RubymineProjects/PhotoUjin/app/assets/stylesheets/pages.scss */
.ui-widget-content {
  background: none;
  border: none;
}

/* line 68, /home/igor/RubymineProjects/PhotoUjin/app/assets/stylesheets/pages.scss */
.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active {
  background-color: #FFA800;
}

/* line 71, /home/igor/RubymineProjects/PhotoUjin/app/assets/stylesheets/pages.scss */
.ui-tabs .ui-tabs-nav li {
  height: 57px;
  white-space: normal;
  margin: 0;
}

/* line 76, /home/igor/RubymineProjects/PhotoUjin/app/assets/stylesheets/pages.scss */
.ui-tabs .ui-tabs-nav li:first-child {
  right: 0;
}

/* line 79, /home/igor/RubymineProjects/PhotoUjin/app/assets/stylesheets/pages.scss */
.ui-tabs .ui-tabs-nav li a {
  font-family: "Arial Unicode MS";
  font-size: 16px;
  padding: 10px 36px;
  text-align: center;
}

/* line 87, /home/igor/RubymineProjects/PhotoUjin/app/assets/stylesheets/pages.scss */
.ui-tabs .ui-tabs-panel {
  padding: 0;
}

/* line 90, /home/igor/RubymineProjects/PhotoUjin/app/assets/stylesheets/pages.scss */
.ui-tabs {
  padding: 0;
  background-color: #585858;
}

/* line 94, /home/igor/RubymineProjects/PhotoUjin/app/assets/stylesheets/pages.scss */
.ui-tabs .ui-tabs-nav {
  padding: 0;
}

/* line 97, /home/igor/RubymineProjects/PhotoUjin/app/assets/stylesheets/pages.scss */
.ui-tabs li {
  border-radius: 24px 13px 0 0;
  box-shadow: 2px 0 26px 0 #000000;
  transform: skewX(-14deg);
  transform-origin: 0 100% 0;
}

/* line 103, /home/igor/RubymineProjects/PhotoUjin/app/assets/stylesheets/pages.scss */
.ui-corner-all, .ui-corner-bottom, .ui-corner-right, .ui-corner-br {
  border-bottom-right-radius: 0;
}

/* line 106, /home/igor/RubymineProjects/PhotoUjin/app/assets/stylesheets/pages.scss */
.ui-corner-all, .ui-corner-bottom, .ui-corner-left, .ui-corner-bl {
  border-bottom-left-radius: 0;
}

/* line 109, /home/igor/RubymineProjects/PhotoUjin/app/assets/stylesheets/pages.scss */
.ca-item-main {
  padding: 20px;
  position: absolute;
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
  background: #fff;
  overflow: hidden;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}

/* line 120, /home/igor/RubymineProjects/PhotoUjin/app/assets/stylesheets/pages.scss */
.ca-icon {
  width: 233px;
  height: 189px;
  position: relative;
  margin: 0 auto;
}

/* line 126, /home/igor/RubymineProjects/PhotoUjin/app/assets/stylesheets/pages.scss */
.tabs span {
  width: 28px;
  height: 56px;
  position: absolute;
  top: 50%;
  margin-top: -19px;
  left: 30px;
  text-indent: -9000px;
  opacity: 0.7;
  cursor: pointer;
  z-index: 100;
}

/* line 138, /home/igor/RubymineProjects/PhotoUjin/app/assets/stylesheets/pages.scss */
.tabs span.ca-nav-prev {
  background-image: url(http://res.cloudinary.com/dm1mh6uld/image/asset/left-arrow.fw-a842e104854f31680b3907e65e3c2b21.png);
  background-repeat: no-repeat;
  background-position: top left;
}

/* line 145, /home/igor/RubymineProjects/PhotoUjin/app/assets/stylesheets/pages.scss */
.tabs span.ca-nav-next {
  background-image: url(http://res.cloudinary.com/dm1mh6uld/image/asset/right-arrow.fw-cfeaa7c76107a884a424a0aa9cf43c39.png);
  background-repeat: no-repeat;
  background-position: top right;
  left: auto;
  right: 30px;
}

/* line 154, /home/igor/RubymineProjects/PhotoUjin/app/assets/stylesheets/pages.scss */
.tabs span:hover {
  opacity: 1.0;
}

/* line 157, /home/igor/RubymineProjects/PhotoUjin/app/assets/stylesheets/pages.scss */
.message {
  position: relative;
  bottom: 65px;
  text-align: center;
}
/* line 161, /home/igor/RubymineProjects/PhotoUjin/app/assets/stylesheets/pages.scss */
.message li {
  margin: 0 14px;
  display: inline-block;
}
/* line 164, /home/igor/RubymineProjects/PhotoUjin/app/assets/stylesheets/pages.scss */
.message li a {
  overflow: hidden;
  display: block;
  text-indent: -400px;
  background-image: url(http://res.cloudinary.com/dm1mh6uld/image/asset/background-link.fw-faa867436f06a034ec3bf715c6ed8ac9.png);
  background-repeat: no-repeat;
}
/* line 172, /home/igor/RubymineProjects/PhotoUjin/app/assets/stylesheets/pages.scss */
.message li a p {
  color: #585858;
  font-size: 23px;
  left: 200px;
  position: relative;
  text-align: center;
  text-transform: uppercase;
  top: 31px;
  width: 442px;
}
/* line 184, /home/igor/RubymineProjects/PhotoUjin/app/assets/stylesheets/pages.scss */
.message li.big-message a {
  background-position: 0 0;
  width: 450px;
  height: 159px;
}
/* line 191, /home/igor/RubymineProjects/PhotoUjin/app/assets/stylesheets/pages.scss */
.message li.small-message a {
  background-position: -480px 0;
  height: 159px;
  width: 156px;
}
/* line 198, /home/igor/RubymineProjects/PhotoUjin/app/assets/stylesheets/pages.scss */
.message li.small-text p {
  font-size: 43px;
}

/* line 204, /home/igor/RubymineProjects/PhotoUjin/app/assets/stylesheets/pages.scss */
.call-me {
  height: 161px;
  margin: 0 auto 140px;
  overflow: hidden;
  position: relative;
  top: 15px;
  width: 666px;
}
/* line 213, /home/igor/RubymineProjects/PhotoUjin/app/assets/stylesheets/pages.scss */
.call-me .call-text a p {
  font-size: 40px;
  position: relative;
  top: 41px;
}

/* line 221, /home/igor/RubymineProjects/PhotoUjin/app/assets/stylesheets/pages.scss */
.contact-information {
  padding: 117px 0 78px 0;
  text-align: center;
  clear: both;
}
/* line 226, /home/igor/RubymineProjects/PhotoUjin/app/assets/stylesheets/pages.scss */
.contact-information form .label-phone {
  font-size: 32px;
  padding-bottom: 10px;
}
/* line 230, /home/igor/RubymineProjects/PhotoUjin/app/assets/stylesheets/pages.scss */
.contact-information form .input-phone {
  border: 3px dashed #000;
  border-radius: 10px;
  margin: 0 auto 10px;
  width: 585px;
}
/* line 235, /home/igor/RubymineProjects/PhotoUjin/app/assets/stylesheets/pages.scss */
.contact-information form .input-phone input[type="text"] {
  color: #585858;
  display: inline-block;
  font-size: 32px;
  font-style: italic;
  height: 58px;
  margin-top: 6px;
  margin-left: 6px;
  margin-bottom: 10px;
  margin-right: 6px;
  padding-top: 6px;
  padding-left: 6px;
  padding-right: 6px;
  width: 558px;
  text-align: center;
}
/* line 258, /home/igor/RubymineProjects/PhotoUjin/app/assets/stylesheets/pages.scss */
.contact-information form input[type="submit"] {
  background-color: #ffa800;
  border: 3px solid #585858;
  border-radius: 5px;
  color: #585858;
  font-size: 26px;
  height: 50px;
  width: 449px;
  margin-bottom: 162px;
  cursor: pointer;
}
/* line 271, /home/igor/RubymineProjects/PhotoUjin/app/assets/stylesheets/pages.scss */
.contact-information .feedback-info li {
  font-size: 32px;
}
/* line 275, /home/igor/RubymineProjects/PhotoUjin/app/assets/stylesheets/pages.scss */
.contact-information .social {
  margin-left: 105px;
  margin-top: 25px;
  overflow: hidden;
}
/* line 281, /home/igor/RubymineProjects/PhotoUjin/app/assets/stylesheets/pages.scss */
.contact-information .social li {
  display: inline;
  margin-right: 105px;
}

/* line 287, /home/igor/RubymineProjects/PhotoUjin/app/assets/stylesheets/pages.scss */
.question {
  background-color: #FFA800;
  text-align: center;
  padding: 23px 94px 21px 52px;
  height: 262px;
  margin-bottom: 40px;
  box-shadow: 0 7px 13px 0 #080808;
}
/* line 294, /home/igor/RubymineProjects/PhotoUjin/app/assets/stylesheets/pages.scss */
.question form {
  overflow: hidden;
  height: 310px;
}
/* line 297, /home/igor/RubymineProjects/PhotoUjin/app/assets/stylesheets/pages.scss */
.question form .label-text {
  font-family: Bedrock-Cyr;
  font-size: 56px;
  color: #000;
}
/* line 304, /home/igor/RubymineProjects/PhotoUjin/app/assets/stylesheets/pages.scss */
.question form textarea {
  width: 878px;
  height: 130px;
  padding: 10px;
  resize: none;
  font-size: 25px;
}
/* line 311, /home/igor/RubymineProjects/PhotoUjin/app/assets/stylesheets/pages.scss */
.question form input[type="submit"] {
  background-color: #ffa800;
  border: 3px solid #585858;
  border-radius: 5px;
  bottom: -34px;
  color: #585858;
  cursor: pointer;
  float: left;
  height: 58px;
  left: 17px;
  margin-bottom: 162px;
  position: relative;
  width: 220px;
  font-family: Bedrock-Cyr;
  font-size: 38px;
}
/* line 329, /home/igor/RubymineProjects/PhotoUjin/app/assets/stylesheets/pages.scss */
.question form input[type="text"] {
  float: right;
  height: 47px;
  width: 446px;
  margin-top: 9px;
  padding-left: 5px;
  font-family: 'MyriadProRegular';
  font-size: 24px;
  color: #B0B0B0;
  box-shadow: 0px -3px 17px 0 #808080 inset;
}

/* line 345, /home/igor/RubymineProjects/PhotoUjin/app/assets/stylesheets/pages.scss */
.wrapper {
  min-width: 1024px;
  width: 1024px;
  margin: 0 auto;
}
/* line 349, /home/igor/RubymineProjects/PhotoUjin/app/assets/stylesheets/pages.scss */
.wrapper header {
  width: 1024px;
  padding-top: 20px;
  background-image: url(http://res.cloudinary.com/dm1mh6uld/image/asset/background-header.fw-aae6950f8d2dd45a390a8061d02cbd4c.png);
  background-repeat: no-repeat;
  background-position: 29px -41px;
  overflow: hidden;
  margin-right: 30px;
}
/* line 359, /home/igor/RubymineProjects/PhotoUjin/app/assets/stylesheets/pages.scss */
.wrapper header h1 {
  overflow: hidden;
  text-align: center;
  width: 163px;
  height: 110px;
  margin: auto;
}
/* line 366, /home/igor/RubymineProjects/PhotoUjin/app/assets/stylesheets/pages.scss */
.wrapper header .nav-page-list {
  height: 115px;
  width: 100%;
  margin: 15px 0;
  display: table;
}
/* line 371, /home/igor/RubymineProjects/PhotoUjin/app/assets/stylesheets/pages.scss */
.wrapper header .nav-page-list li {
  display: table-cell;
  vertical-align: middle;
}
/* line 374, /home/igor/RubymineProjects/PhotoUjin/app/assets/stylesheets/pages.scss */
.wrapper header .nav-page-list li .nav-page {
  display: inline-block;
  margin: 0 auto;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  font-size: 0;
}
/* line 383, /home/igor/RubymineProjects/PhotoUjin/app/assets/stylesheets/pages.scss */
.wrapper header .nav-page-list li .nav-page li {
  display: inline-block;
  padding: 0 14px;
  border-bottom: 5px solid #A8A8A8;
}
/* line 387, /home/igor/RubymineProjects/PhotoUjin/app/assets/stylesheets/pages.scss */
.wrapper header .nav-page-list li .nav-page li a {
  font-family: 'Bedrock-Cyr';
  font-size: 42px;
  color: #A8A8A8;
  text-transform: uppercase;
}
/* line 397, /home/igor/RubymineProjects/PhotoUjin/app/assets/stylesheets/pages.scss */
.wrapper header .nav-page-list li #nav-page3 {
  width: 957px;
}
/* line 399, /home/igor/RubymineProjects/PhotoUjin/app/assets/stylesheets/pages.scss */
.wrapper header .nav-page-list li #nav-page3 li {
  text-align: center;
  width: 238px;
}
/* line 402, /home/igor/RubymineProjects/PhotoUjin/app/assets/stylesheets/pages.scss */
.wrapper header .nav-page-list li #nav-page3 li:last-child {
  width: 100px;
  padding-top: 46px;
}
/* line 410, /home/igor/RubymineProjects/PhotoUjin/app/assets/stylesheets/pages.scss */
.wrapper header .nav {
  overflow: hidden;
  margin-right: -10px;
  margin-bottom: 40px;
}
/* line 416, /home/igor/RubymineProjects/PhotoUjin/app/assets/stylesheets/pages.scss */
.wrapper header .nav li {
  display: inline-block;
  width: 311px;
  height: 467px;
  position: relative;
  margin: 2px 10px 2px 2px;
  border: 5px solid transparent;
  z-index: 1;
  cursor: pointer;
}
/* line 425, /home/igor/RubymineProjects/PhotoUjin/app/assets/stylesheets/pages.scss */
.wrapper header .nav li:first-child {
  background-image: url(http://res.cloudinary.com/dm1mh6uld/image/asset/background-arrow.fw-bfd94e586e237210f04609c77fa1630c.png);
  background-repeat: no-repeat;
  background-position: 50% 100%;
}
/* line 432, /home/igor/RubymineProjects/PhotoUjin/app/assets/stylesheets/pages.scss */
.wrapper header .nav li.photo1 {
  background-image: url(http://res.cloudinary.com/dm1mh6uld/image/asset/e_grayscale/photomaking-color-c066720d85c57358768e389a2b0237a4.png);
  background-repeat: no-repeat;
}
/* line 435, /home/igor/RubymineProjects/PhotoUjin/app/assets/stylesheets/pages.scss */
.wrapper header .nav li.photo1:hover {
  background-image: url(http://res.cloudinary.com/dm1mh6uld/image/asset/photomaking-color-c066720d85c57358768e389a2b0237a4.png);
  background-repeat: no-repeat;
}
/* line 442, /home/igor/RubymineProjects/PhotoUjin/app/assets/stylesheets/pages.scss */
.wrapper header .nav li.photo1-active {
  background-image: url(http://res.cloudinary.com/dm1mh6uld/image/asset/photomaking-color-c066720d85c57358768e389a2b0237a4.png);
  background-repeat: no-repeat;
  border: 5px solid #FFA800;
}
/* line 449, /home/igor/RubymineProjects/PhotoUjin/app/assets/stylesheets/pages.scss */
.wrapper header .nav li.photo2 {
  background-image: url(http://res.cloudinary.com/dm1mh6uld/image/asset/e_grayscale/polygraphy-color-30382ee4a3b85f1049b95073738aea73.png);
  background-repeat: no-repeat;
}
/* line 452, /home/igor/RubymineProjects/PhotoUjin/app/assets/stylesheets/pages.scss */
.wrapper header .nav li.photo2:hover {
  background-image: url(http://res.cloudinary.com/dm1mh6uld/image/asset/polygraphy-color-30382ee4a3b85f1049b95073738aea73.png);
  background-repeat: no-repeat;
}
/* line 459, /home/igor/RubymineProjects/PhotoUjin/app/assets/stylesheets/pages.scss */
.wrapper header .nav li.photo2-active {
  background-image: url(http://res.cloudinary.com/dm1mh6uld/image/asset/polygraphy-color-30382ee4a3b85f1049b95073738aea73.png);
  background-repeat: no-repeat;
  border: 5px solid #FFA800;
}
/* line 466, /home/igor/RubymineProjects/PhotoUjin/app/assets/stylesheets/pages.scss */
.wrapper header .nav li.photo3 {
  background-image: url(http://res.cloudinary.com/dm1mh6uld/image/asset/e_grayscale/photobook-color-d281826224e64914485e547b9884a38c.png);
  background-repeat: no-repeat;
}
/* line 469, /home/igor/RubymineProjects/PhotoUjin/app/assets/stylesheets/pages.scss */
.wrapper header .nav li.photo3:hover {
  background-image: url(http://res.cloudinary.com/dm1mh6uld/image/asset/photobook-color-d281826224e64914485e547b9884a38c.png);
  background-repeat: no-repeat;
}
/* line 476, /home/igor/RubymineProjects/PhotoUjin/app/assets/stylesheets/pages.scss */
.wrapper header .nav li.photo3-active {
  background-image: url(http://res.cloudinary.com/dm1mh6uld/image/asset/photobook-color-d281826224e64914485e547b9884a38c.png);
  background-repeat: no-repeat;
  border: 5px solid #FFA800;
}
/* line 486, /home/igor/RubymineProjects/PhotoUjin/app/assets/stylesheets/pages.scss */
.wrapper header .information ul {
  overflow: hidden;
  background-color: #FFA800;
  padding-left: 53px;
  padding-bottom: 23px;
}
/* line 493, /home/igor/RubymineProjects/PhotoUjin/app/assets/stylesheets/pages.scss */
.wrapper header .information ul li {
  width: 278px;
  float: left;
  padding-top: 24px;
  margin-right: 40px;
  font-family: Arial;
  font-size: 21px;
  color: #535353;
}
/* line 507, /home/igor/RubymineProjects/PhotoUjin/app/assets/stylesheets/pages.scss */
.wrapper .content {
  width: 1024px;
}
/* line 509, /home/igor/RubymineProjects/PhotoUjin/app/assets/stylesheets/pages.scss */
.wrapper .content .subject-matter {
  background-color: #585858;
  width: 1024px;
  padding: 70px 0;
  box-shadow: -3px 17px 24px -15px #000000 inset;
}
/* line 514, /home/igor/RubymineProjects/PhotoUjin/app/assets/stylesheets/pages.scss */
.wrapper .content .subject-matter p {
  color: #fff;
  font-size: 29px;
  margin: 0 auto;
  text-align: center;
  width: 768px;
}
/* line 523, /home/igor/RubymineProjects/PhotoUjin/app/assets/stylesheets/pages.scss */
.wrapper .content .slider .ca-container {
  position: relative;
  width: 1024px;
  height: 450px;
  border-bottom: 10px solid #FFA800;
}
/* line 528, /home/igor/RubymineProjects/PhotoUjin/app/assets/stylesheets/pages.scss */
.wrapper .content .slider .ca-container .ca-item {
  position: relative;
  float: left;
  height: 100%;
  text-align: center;
}
/* line 533, /home/igor/RubymineProjects/PhotoUjin/app/assets/stylesheets/pages.scss */
.wrapper .content .slider .ca-container .ca-item img {
  height: inherit;
}
/* line 539, /home/igor/RubymineProjects/PhotoUjin/app/assets/stylesheets/pages.scss */
.wrapper .content .price {
  background-color: #DADADA;
  width: 100%;
  padding-top: 54px;
  box-shadow: -3px 17px 24px -15px #000000 inset;
}
/* line 544, /home/igor/RubymineProjects/PhotoUjin/app/assets/stylesheets/pages.scss */
.wrapper .content .price h3 {
  font-size: 32px;
  font-weight: normal;
  text-align: center;
  margin-bottom: 30px;
}
/* line 552, /home/igor/RubymineProjects/PhotoUjin/app/assets/stylesheets/pages.scss */
.wrapper .content .price .price-list {
  overflow: hidden;
}
/* line 554, /home/igor/RubymineProjects/PhotoUjin/app/assets/stylesheets/pages.scss */
.wrapper .content .price .price-list li {
  border: 2px solid #C9C9C9;
  margin: 0 80px 36px 84px;
  background-color: #EFEBE5;
}
/* line 558, /home/igor/RubymineProjects/PhotoUjin/app/assets/stylesheets/pages.scss */
.wrapper .content .price .price-list li:first-child {
  background-color: #E6EFE5;
}
/* line 561, /home/igor/RubymineProjects/PhotoUjin/app/assets/stylesheets/pages.scss */
.wrapper .content .price .price-list li:last-child {
  background-color: #EFE5E5;
}
/* line 564, /home/igor/RubymineProjects/PhotoUjin/app/assets/stylesheets/pages.scss */
.wrapper .content .price .price-list li h4 {
  color: #000;
  float: left;
  font-size: 26px;
  font-weight: normal;
  position: relative;
  top: 74px;
  padding-right: 24px;
  padding-left: 24px;
}
/* line 577, /home/igor/RubymineProjects/PhotoUjin/app/assets/stylesheets/pages.scss */
.wrapper .content .price .price-list li h4:nth-child(2) {
  padding-top: 25px;
}
/* line 581, /home/igor/RubymineProjects/PhotoUjin/app/assets/stylesheets/pages.scss */
.wrapper .content .price .price-list li .description {
  overflow: hidden;
  margin: 24px 25px 24px 40px;
}
/* line 584, /home/igor/RubymineProjects/PhotoUjin/app/assets/stylesheets/pages.scss */
.wrapper .content .price .price-list li .description li {
  border: none;
  margin: 0;
  background-color: transparent;
  font-size: 25px;
}
/* line 589, /home/igor/RubymineProjects/PhotoUjin/app/assets/stylesheets/pages.scss */
.wrapper .content .price .price-list li .description li:first-child {
  background-color: transparent;
}
/* line 592, /home/igor/RubymineProjects/PhotoUjin/app/assets/stylesheets/pages.scss */
.wrapper .content .price .price-list li .description li:last-child {
  color: #000;
  background-color: transparent;
}
/* line 600, /home/igor/RubymineProjects/PhotoUjin/app/assets/stylesheets/pages.scss */
.wrapper .content .price .more-information {
  padding-bottom: 26px;
}
/* line 602, /home/igor/RubymineProjects/PhotoUjin/app/assets/stylesheets/pages.scss */
.wrapper .content .price .more-information li {
  font-size: 27px;
  text-align: center;
  color: #000;
}
/* line 609, /home/igor/RubymineProjects/PhotoUjin/app/assets/stylesheets/pages.scss */
.wrapper .content .conditions {
  background-color: #585858;
  color: #fff;
  padding: 45px 58px 34px 63px;
  border-bottom: 25px solid #FFA800;
  box-shadow: 0 -7px 14px -4px #000;
}
/* line 615, /home/igor/RubymineProjects/PhotoUjin/app/assets/stylesheets/pages.scss */
.wrapper .content .conditions li {
  background-image: url(http://res.cloudinary.com/dm1mh6uld/image/asset/marker.fw-0cee8c2e758ba8c5bff70e16dcf65c9f.png), url(http://res.cloudinary.com/dm1mh6uld/image/asset/grey-marker.fw-48e36b99f741202c807f3c6dcd587a8e.png);
  background-repeat: no-repeat, no-repeat;
  background-position: 0 8px, 100% 12px;
  overflow: hidden;
  font-size: 25px;
  padding-left: 25px;
}
/* line 627, /home/igor/RubymineProjects/PhotoUjin/app/assets/stylesheets/pages.scss */
.wrapper .content .page2 h2 {
  font-family: 'a_AvanteBsNr Light', Arial;
  font-size: 44px;
  text-align: center;
  margin: 45px 0 30px 0;
  text-transform: uppercase;
}
/* line 636, /home/igor/RubymineProjects/PhotoUjin/app/assets/stylesheets/pages.scss */
.wrapper .content .page2 .indent {
  background-color: #585858;
  height: 57px;
  box-shadow: 0 10px 10px -9px #000000 inset, 0px -10px 10px -9px #000000 inset;
}
/* line 641, /home/igor/RubymineProjects/PhotoUjin/app/assets/stylesheets/pages.scss */
.wrapper .content .page2 .invitation {
  overflow: hidden;
}
/* line 643, /home/igor/RubymineProjects/PhotoUjin/app/assets/stylesheets/pages.scss */
.wrapper .content .page2 .invitation li {
  width: 194px;
  font-size: 21px;
  color: #585858;
  float: left;
  padding-right: 10px;
  text-align: center;
}
/* line 650, /home/igor/RubymineProjects/PhotoUjin/app/assets/stylesheets/pages.scss */
.wrapper .content .page2 .invitation li span {
  text-transform: uppercase;
}
/* line 653, /home/igor/RubymineProjects/PhotoUjin/app/assets/stylesheets/pages.scss */
.wrapper .content .page2 .invitation li img[alt="mini"] {
  padding-left: 10px;
}
/* line 658, /home/igor/RubymineProjects/PhotoUjin/app/assets/stylesheets/pages.scss */
.wrapper .content .page2 .big-list-photo {
  margin-top: 20px;
  overflow: hidden;
}
/* line 661, /home/igor/RubymineProjects/PhotoUjin/app/assets/stylesheets/pages.scss */
.wrapper .content .page2 .big-list-photo li {
  float: left;
  margin: 0 4px 2px 12px;
}
/* line 665, /home/igor/RubymineProjects/PhotoUjin/app/assets/stylesheets/pages.scss */
.wrapper .content .page2 .big-list-photo li a .photo_bike:hover {
  content: url(http://res.cloudinary.com/dm1mh6uld/image/asset/color-list-photo-bikes-3b4303915bb2920c614161c0f9ca0cf3.png);
}
/* line 668, /home/igor/RubymineProjects/PhotoUjin/app/assets/stylesheets/pages.scss */
.wrapper .content .page2 .big-list-photo li a .photo_single:hover {
  content: url(http://res.cloudinary.com/dm1mh6uld/image/asset/color-list-photo-single-f938a78f5e3443491b3999a81c6357d5.png);
}
/* line 671, /home/igor/RubymineProjects/PhotoUjin/app/assets/stylesheets/pages.scss */
.wrapper .content .page2 .big-list-photo li a .photo_butterfly:hover {
  content: url(http://res.cloudinary.com/dm1mh6uld/image/asset/color-list-photo-butterfly-b6bc21790cb35a99a9b2bc48fc48b1f1.png);
}
/* line 674, /home/igor/RubymineProjects/PhotoUjin/app/assets/stylesheets/pages.scss */
.wrapper .content .page2 .big-list-photo li a .photo_passport:hover {
  content: url(http://res.cloudinary.com/dm1mh6uld/image/asset/color-list-photo-passport-32e21804dcaab59cd621a0f1a98e2515.png);
}
/* line 677, /home/igor/RubymineProjects/PhotoUjin/app/assets/stylesheets/pages.scss */
.wrapper .content .page2 .big-list-photo li a .photo_cards:hover {
  content: url(http://res.cloudinary.com/dm1mh6uld/image/asset/color-list-photo-cards-740edc3794a1095a9b5f343fa6867b5a.png);
}
/* line 683, /home/igor/RubymineProjects/PhotoUjin/app/assets/stylesheets/pages.scss */
.wrapper .content .page2 .invitation-thems {
  background-color: #585858;
  padding: 37px 24px 72px 24px;
  font-size: 24px;
  color: #fff;
  text-align: center;
  box-shadow: 0px -10px 15px -9px #000000 inset;
}
/* line 691, /home/igor/RubymineProjects/PhotoUjin/app/assets/stylesheets/pages.scss */
.wrapper .content .page2 .two-big-photo {
  overflow: hidden;
}
/* line 693, /home/igor/RubymineProjects/PhotoUjin/app/assets/stylesheets/pages.scss */
.wrapper .content .page2 .two-big-photo img {
  float: left;
}
/* line 697, /home/igor/RubymineProjects/PhotoUjin/app/assets/stylesheets/pages.scss */
.wrapper .content .page2 .commentary {
  margin: 23px 0;
  text-align: center;
  font-size: 22px;
}
/* line 702, /home/igor/RubymineProjects/PhotoUjin/app/assets/stylesheets/pages.scss */
.wrapper .content .page2 .table {
  background-color: #585858;
  padding-top: 22px;
}
/* line 705, /home/igor/RubymineProjects/PhotoUjin/app/assets/stylesheets/pages.scss */
.wrapper .content .page2 .table table {
  margin-left: 121px;
}
/* line 707, /home/igor/RubymineProjects/PhotoUjin/app/assets/stylesheets/pages.scss */
.wrapper .content .page2 .table table td {
  padding-bottom: 60px;
  color: #fff;
}
/* line 710, /home/igor/RubymineProjects/PhotoUjin/app/assets/stylesheets/pages.scss */
.wrapper .content .page2 .table table td.name {
  width: 323px;
  font-size: 22px;
  padding-right: 35px;
}
/* line 715, /home/igor/RubymineProjects/PhotoUjin/app/assets/stylesheets/pages.scss */
.wrapper .content .page2 .table table td.quantity {
  font-size: 40px;
  width: 120px;
  padding-right: 108px;
  line-height: 43%;
  text-align: center;
}
/* line 721, /home/igor/RubymineProjects/PhotoUjin/app/assets/stylesheets/pages.scss */
.wrapper .content .page2 .table table td.quantity span {
  font-size: 20px;
  text-align: center;
  width: 120px;
}
/* line 727, /home/igor/RubymineProjects/PhotoUjin/app/assets/stylesheets/pages.scss */
.wrapper .content .page2 .table table td.cost {
  font-size: 28px;
}
/* line 732, /home/igor/RubymineProjects/PhotoUjin/app/assets/stylesheets/pages.scss */
.wrapper .content .page2 .table .commentary2 {
  text-align: center;
  font-size: 21px;
  position: relative;
  bottom: 60px;
  color: #fff;
  margin-top: 40px;
  margin-bottom: 10px;
}
/* line 746, /home/igor/RubymineProjects/PhotoUjin/app/assets/stylesheets/pages.scss */
.wrapper .content .page3 .book-list {
  overflow: hidden;
}
/* line 748, /home/igor/RubymineProjects/PhotoUjin/app/assets/stylesheets/pages.scss */
.wrapper .content .page3 .book-list li {
  overflow: hidden;
}
/* line 750, /home/igor/RubymineProjects/PhotoUjin/app/assets/stylesheets/pages.scss */
.wrapper .content .page3 .book-list li h2 {
  font-family: 'a_AvanteBsNr Light', Arial;
  font-size: 44px;
  text-align: center;
  margin: 45px 0 30px 0;
  text-transform: uppercase;
}
/* line 759, /home/igor/RubymineProjects/PhotoUjin/app/assets/stylesheets/pages.scss */
.wrapper .content .page3 .book-list li .photo-gallery-wrapp {
  float: left;
}
/* line 761, /home/igor/RubymineProjects/PhotoUjin/app/assets/stylesheets/pages.scss */
.wrapper .content .page3 .book-list li .photo-gallery-wrapp img {
  width: 501px;
  height: 343px;
}
/* line 765, /home/igor/RubymineProjects/PhotoUjin/app/assets/stylesheets/pages.scss */
.wrapper .content .page3 .book-list li .photo-gallery-wrapp ul {
  overflow: hidden;
  margin-top: 31px;
  text-align: center;
}
/* line 769, /home/igor/RubymineProjects/PhotoUjin/app/assets/stylesheets/pages.scss */
.wrapper .content .page3 .book-list li .photo-gallery-wrapp ul li {
  overflow: hidden;
  float: left;
  margin-right: 10px;
  margin-top: 30px;
}
/* line 774, /home/igor/RubymineProjects/PhotoUjin/app/assets/stylesheets/pages.scss */
.wrapper .content .page3 .book-list li .photo-gallery-wrapp ul li img {
  width: 110px;
  height: 74px;
  cursor: pointer;
}
/* line 782, /home/igor/RubymineProjects/PhotoUjin/app/assets/stylesheets/pages.scss */
.wrapper .content .page3 .book-list li .info-wrapp {
  background-color: #585858;
  color: #fff;
  overflow: hidden;
  font-size: 22px;
}
/* line 787, /home/igor/RubymineProjects/PhotoUjin/app/assets/stylesheets/pages.scss */
.wrapper .content .page3 .book-list li .info-wrapp .info-size {
  background-color: #fff;
  color: #000;
  overflow: hidden;
  text-align: center;
  min-height: 100px;
}
/* line 793, /home/igor/RubymineProjects/PhotoUjin/app/assets/stylesheets/pages.scss */
.wrapper .content .page3 .book-list li .info-wrapp .info-size p {
  line-height: 173%;
  padding-top: 25px;
  color: #585858;
}
/* line 799, /home/igor/RubymineProjects/PhotoUjin/app/assets/stylesheets/pages.scss */
.wrapper .content .page3 .book-list li .info-wrapp dl {
  padding: 20px 10px 25px 10px;
}
/* line 801, /home/igor/RubymineProjects/PhotoUjin/app/assets/stylesheets/pages.scss */
.wrapper .content .page3 .book-list li .info-wrapp dl dt {
  float: left;
}
/* line 805, /home/igor/RubymineProjects/PhotoUjin/app/assets/stylesheets/pages.scss */
.wrapper .content .page3 .book-list li .info-wrapp .special-info {
  margin-left: 10px;
  padding-bottom: 25px;
}
/* line 814, /home/igor/RubymineProjects/PhotoUjin/app/assets/stylesheets/pages.scss */
.wrapper footer {
  background-color: #585858;
  padding: 34px 8px 8px 8px;
  overflow: hidden;
}
/* line 818, /home/igor/RubymineProjects/PhotoUjin/app/assets/stylesheets/pages.scss */
.wrapper footer p {
  float: right;
  color: #dadada;
  font-family: 'MyriadProRegular';
  font-size: 19px;
}
/* line 825, /home/igor/RubymineProjects/PhotoUjin/app/assets/stylesheets/pages.scss */
.wrapper footer p a {
  color: #dadada !important;
  font-family: 'MyriadProRegular' !important;
  font-size: 19px !important;
  text-decoration: underline !important;
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *





 */

