<ul class="message">
  <li class="big-message">
    <%= link_to '#', onclick: "linkTo('contact-information')" do %>
        <p>Запропонуйте мені щось цікаве</p>
        <p class="upper">передзвоніть мені</p>
    <% end %>
  </li>
  <li class="small-message">
    <%= link_to '#', onclick: "linkTo('question')" do %><span></span><% end %>
  </li>
</ul>