<ul class="message call-me">
  <li class="big-message small-text call-text">
    <%= link_to '#', onclick: "linkTo('contact-information')" do %>
        <p>Передзвоніть мені</p>
    <% end %>
  </li>
  <li class="small-message">
    <%= link_to '#', onclick: "linkTo('question')" do %><span></span><% end %>
  </li>
</ul>