<ul class="message">
  <li class="big-message small-text">
    <%= link_to '#', onclick: "linkTo('contact-information')" do %>
        <p>Хочу замовити</p>
    <% end %>
  </li>
  <li class="small-message">
    <%= link_to '#', onclick: "linkTo('question')" do %><span></span><% end %>
  </li>
</ul>