/*----------------------------------------------------------------------------------*/
/*------------------------------RESET DEFAULT STYLES--------------------------------*/
/*----------------------------------------------------------------------------------*/
html, body {
  width: 100%;
  height: 100%;
}

body {
  padding: 0;
  margin: 0;
  font:12px 'Arial Unicode MS', sans-serif;
  background: #fff;
  color: #535353;
}

div, p, a, span, em, strong, img, h1, h2, h3, h4, h5, h6, ul, ol, li, dl, dt, dd, table, td, tr, form, fieldset, label, select, checkbox, input, textarea {
  padding: 0;
  margin: 0;
  outline: none;
  list-style: none;
}

select, input, textarea {
  font-size: 12px;
  vertical-align: middle;
}

textarea {
  vertical-align: top;
}

:focus {
  outline: none;
}

input[type=submit] {
  cursor: pointer;
}

/* img, fieldset                  { border:0; } */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

a:link, a:visited {
  font:12px Arial, sans-serif;
  color: #000;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

/*----------------------------------------------------------------------------------*/
/*-------------------------------------DEFAULT CLASSES------------------------------*/
/*----------------------------------------------------------------------------------*/
.float-r {
  float: right !important;
}

.float-l {
  float: left !important;
}

.no-float {
  float: none !important;
}

.no-border {
  border: 0 !important;
}

.no-bg {
  background: none !important;
}

.no-margin {
  margin: 0 !important;
}

.no-padding {
  padding: 0 !important;
}

.no-display {
  display: none !important;
}

.display {
  display: block !important;
}

.inline {
  display: inline !important;
}

.overflow {
  overflow: hidden !important;
}

.align-r {
  text-align: right !important;
}

.align-l {
  text-align: left !important;
}

.align-c {
  text-align: center !important;
}

.clear {
  clear: both;
}

@font-face {
  font-family: 'MyriadProRegular';
  src: url('MyriadProRegular.eot');
  src: url('MyriadProRegular.eot?#iefix') format('embedded-opentype'),
  url('MyriadProRegular.woff') format('woff'),
  url('MyriadProRegular.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
}
.upper {
  text-transform: uppercase;
}
/*----------------------------------------------------------------------------------*/
/*-------------------------------------WRAPPER--------------------------------------*/
/*----------------------------------------------------------------------------------*/
.wrapper {
  min-width: 1024px;
  width: 1024px;
  margin: 0 auto;
}
/*----------------------------------------------------------------------------------*/
/*-------------------------------------HEADER---------------------------------------*/
/*----------------------------------------------------------------------------------*/
header {
  width: 1024px;
  padding-top: 20px;
  background: url('background-header.fw.png') no-repeat;
  background-position: 29px -41px;
  overflow: hidden;
  margin-right: 30px;
}

header h1 {
  overflow: hidden;
  text-align: center;
  width: 163px;
  height: 110px;
  margin: auto;
}

/*----------------------------------------------------------------------------------*/
/*-------------------------------------NAV------------------------------------------*/
/*----------------------------------------------------------------------------------*/
.nav-page-list {
  height: 115px;
  width: 100%;
  margin: 15px 0;
  display: table;
}

.nav-page-list li {
  display: table-cell;
  vertical-align: middle;
}

/* nav in page */
.nav-page {
  display: inline-block;
  margin: 0 auto;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align:center;

}
#nav-page3 {
  width: 957px;
}

#nav-page3 li {
  text-align: center;
  width: 238px;
}

#nav-page3 li:last-child {
  width: 100px;
}

ul.nav-page li {
  display: inline-block;
  padding: 0 14px;
}

ul.nav-page li a {
  font-family: 'Bedrock-Cyr', 'MyriadProRegular';
  font-size: 42px;
  color: #A8A8A8;
  text-transform: uppercase;
}

/* nav in site */
.nav {
  overflow: hidden;
  margin-right: -10px;
  margin-bottom: 40px;
}

.nav li {
  display: inline-block;
  width: 311px;
  height: 467px;
  position: relative;
  margin: 2px 10px 2px 2px;
  border: 5px solid transparent;
  z-index: 1;
  cursor: pointer;
}

.nav li:first-child {
  background: url('background-arrow.fw.png') no-repeat;
  background-position: 50% 100%;
}

.nav li.photo1 {
  background: url('photomaking-black.png') no-repeat;
}

.nav li.photo1:hover {
  background: url('photomaking-color.png');
  background-repeat: no-repeat, no-repeat;
}

.nav li.photo1-active {
  background: url('photomaking-color.png') no-repeat;
  border: 5px solid #FFA800;
}

.nav li.photo2 {
  background: url('polygraphy-black.png') no-repeat;
}

.nav li.photo2:hover {
  background: url('polygraphy-color.png') no-repeat;
}

.nav li.photo2-active {
  background: url('polygraphy-color.png') no-repeat;
  border: 5px solid #FFA800;
}

.nav li.photo3 {
  background: url('photobook-black.png') no-repeat;
}

.nav li.photo3:hover {
  background: url('photobook-color.png') no-repeat;
}

.nav li.photo3-active {
  background: url('photobook-color.png') no-repeat;
  border: 5px solid #FFA800;
}

.content {
  width: 1024px;
}

.information ul {
  overflow: hidden;
  background-color: #FFA800;
  padding-left: 53px;
  padding-bottom: 23px;
}

.information ul li {
  width: 278px;
  float: left;
  padding-top: 24px;
  margin-right: 40px;
  font-family: Arial;
  font-size: 21px;
  color: #535353;

}

div.subject-matter {
  background-color: #585858;
  width: 1024px;
  padding: 70px 0;
  box-shadow: -3px 17px 24px -15px #000000 inset;
}

div.subject-matter p {
  color: #fff;
  font-size: 29px;
  margin: 0 auto;
  text-align: center;
  width: 768px;
}

/* Circular Content Carousel Style */

.ui-state-default a, .ui-state-default a:link, .ui-state-default a:visited {
  color: #000;
}

.ui-widget-header {
  background: none;
  border: none;
}

.ui-widget-content {
  background: none;
  border: none;
}

.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active {
  background-color: #FFA800;
}

.ui-tabs .ui-tabs-nav li {
  height: 57px;
  white-space: normal;
  margin: 0;
}

.ui-tabs .ui-tabs-nav li:first-child {
  right: 0;
}

.ui-tabs .ui-tabs-nav li a {
  font-family: "Arial Unicode MS";
  font-size: 16px;
  padding: 10px 33px;
  text-align: center;
}

.ui-tabs .ui-tabs-panel {
  padding: 0;
}

.ui-tabs {
  padding: 0;
  background-color: #585858;
}

.ui-tabs .ui-tabs-nav {
  padding: 0;
}

.ui-tabs li {
  border-radius: 24px 13px 0 0;
  box-shadow: 2px 0 26px 0 #000000;
  transform: skewX(-14deg);
  transform-origin: 0 100% 0;
}

.ui-corner-all, .ui-corner-bottom, .ui-corner-right, .ui-corner-br {
  border-bottom-right-radius: 0;
}

.ui-corner-all, .ui-corner-bottom, .ui-corner-left, .ui-corner-bl {
  border-bottom-left-radius: 0;
}

.ca-container {
  position: relative;
  width: 1024px;
  height: 450px;
  border-bottom: 10px solid #FFA800;
  /* margin-bottom:17px; */

}

.ca-wrapper {
  width: 100%;
  height: 100%;
  position: relative;
  box-shadow: 0px -3px 17px 0 #808080 inset;
}

.ca-item {
  position: relative;
  float: left;
  height: 100%;
  text-align: center;
}
.ca-item img {
  height: inherit;
}

.ca-item-main {
  padding: 20px;
  position: absolute;
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
  background: #fff;
  overflow: hidden;
  /* -moz-box-shadow:1px 1px 2px rgba(0,0,0,0.2);
  -webkit-box-shadow:1px 1px 2px rgba(0,0,0,0.2); */
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}

.ca-icon {
  width: 233px;
  height: 189px;
  position: relative;
  margin: 0 auto;
}

.tabs span {
  width: 28px;
  height: 56px;
  position: absolute;
  top: 50%;
  margin-top: -19px;
  left: 30px;
  text-indent: -9000px;
  opacity: 0.7;
  cursor: pointer;
  z-index: 100;
}

.tabs span.ca-nav-prev {
  background: url('left-arrow.fw.png') no-repeat top left;
}

.tabs span.ca-nav-next {
  background: url('right-arrow.fw.png') no-repeat top right;
  left: auto;
  right: 30px;
}

.tabs span:hover {
  opacity: 1.0;
}

.price {
  background-color: #DADADA;
  width: 100%;
  padding-top: 54px;
  box-shadow: -3px 17px 24px -15px #000000 inset;
}

.price h3 {
  font-size: 32px;
  text-align: center;
  font-weight: normal;
  margin-bottom: 30px;
}

ul.price-list {
  overflow: hidden;
}

ul.price-list li {
  border: 2px solid #C9C9C9;
  margin: 0 80px 36px 84px;
  background-color: #EFEBE5;
}

ul.price-list li h4:nth-child(2) {
  padding-top: 25px;
}

ul.price-list li:first-child {
  background-color: #E6EFE5;
}

ul.price-list li:last-child {
  background-color: #EFE5E5;
}

ul.price-list li h4 {
  color: #000;
  float: left;
  font-size: 26px;
  position: relative;
  top: 74px;
  padding-right: 24px;
  padding-left: 24px;
  font-weight: normal;

}

ul.description {
  overflow: hidden;
  margin: 24px 25px 24px 40px;
}

ul.description li {
  border: none;
  margin: 0;
  background-color: transparent;
  font-size: 25px;
}

ul.description li:first-child {
  background-color: transparent;
}

ul.description li:last-child {
  color: #000;
  background-color: transparent;
}

.more-information {
  padding-bottom: 26px;
}

.more-information p {
  font-size: 27px;
  text-align: center;
  color: #000;
}

.conditions {
  background-color: #585858;
  color: #fff;
  padding: 45px 58px 34px 63px;
  border-bottom: 25px solid #FFA800;
  box-shadow: 0 -7px 14px -4px #000;
}

.conditions li {
  background: url('marker.fw.png'), url('grey-marker.fw.png');
  background-repeat: no-repeat, no-repeat;
  background-position: 0 8px, 100% 12px;
  overflow: hidden;
  font-size: 25px;
  padding-left: 25px;
}

.contact-information {
  padding: 117px 0 78px 0;
  text-align: center;
  clear: both;
}

.contact-information form .label-phone {
  font-size: 32px;
  padding-bottom: 10px;
}

.contact-information div.input-phone {
  border: 3px dashed #000;
  border-radius: 10px;
  margin: 0 auto 10px;
  width: 585px;
}

.contact-information input[type="text"] {
  color: #585858;
  display: inline-block;
  font-size: 32px;
  font-style: italic;
  height: 58px;
  margin: 6px;
  margin-bottom: 10px;
  padding-left: 6px;
  padding-right: 6px;
  padding-top: 6px;
  width: 558px;
  text-align: center;
}
.contact-information p {
  font-size: 32px;
}
.contact-information input[type="submit"] {
  background-color: #ffa800;
  border: 3px solid #585858;
  border-radius: 5px;
  color: #585858;
  font-size: 26px;
  height: 50px;
  width: 449px;
  margin-bottom: 162px;
  cursor: pointer;
}

ul.social {
  margin-left: 105px;
  margin-top: 25px;
  overflow: hidden;
}

ul.social li {
  display: inline;
  margin-right: 105px;
}

/* ul.social li:first-child, ul.social li:last-child {
	position:relative;
	top:-64;
} */
.question {
  background-color: #FFA800;
  text-align: center;
  padding: 23px 94px 21px 52px;
  height: 262px;
  margin-bottom: 40px;
  /* -webkit-box-shadow: 0 7px 13px 0 #080808; */
  box-shadow: 0 7px 13px 0 #080808;
}

.question form {
  overflow: hidden;
  height: 310px;
}

.question .label-text {
  font-family: 'MyriadProRegular';
  font-size: 56px;
  color: #000;
}

.question textarea {
  width: 878px;
  height: 130px;
  padding: 10px;
  resize: none;
  font-size: 25px;
}

.question input[type="submit"] {
  background-color: #ffa800;
  border: 3px solid #585858;
  border-radius: 5px;
  bottom: -34px;
  color: #585858;
  cursor: pointer;
  float: left;
  font-size: 26px;
  height: 58px;
  left: 17px;
  margin-bottom: 162px;
  position: relative;
  width: 220px;

}

.question input[type="text"] {
  float: right;
  height: 47px;
  width: 446px;
  margin-top: 9px;
  padding-left: 5px;
  font-family: 'MyriadProRegular';
  font-size: 24px;
  color: #B0B0B0;
  box-shadow: 0px -3px 17px 0 #808080 inset;
}

/* сторінка 2 */

.page2 h2 {
  font-family: 'a_AvanteBsNr Light', Arial;
  font-size: 44px;
  text-align: center;
  margin: 45px 0 30px 0;
  text-transform: uppercase;
}

.indent {
  background-color: #585858;
  height: 57px;
  box-shadow: 0 10px 10px -9px #000000 inset, 0px -10px 10px -9px #000000 inset;
}

.invitation {
  overflow: hidden;
}

.invitation li {
  width: 194px;
  font-size: 21px;
  color: #585858;
  float: left;
  padding-right: 10px;
  text-align: center;
}

.invitation li p {
  text-transform: uppercase;
  font-size: 21px;
}

.big-list-photo {
  margin-top: 20px;
  overflow: hidden;
}

.big-list-photo li {
  float: left;
  margin: 0 4px 2px 12px;
}

.invitation-thems {
  background-color: #585858;
  padding: 37px 24px 72px 24px;
  font-size: 24px;
  color: #fff;
  text-align: center;
  box-shadow: 0px -10px 15px -9px #000000 inset;
}

.message {
  position: relative;
  bottom: 65px;
  text-align: center;

}

.message li {
  margin: 0 14px;
  display: inline-block;
}

.message p {
  color: #585858;
  font-size: 23px;
  left: 200px;
  position: relative;
  text-align: center;
  text-transform: uppercase;
  top: 31px;
  width: 442px;
}

.message li a {
  overflow: hidden;
  display: block;
  text-indent: -400px;
  background: url('background-link.fw.png') no-repeat;
}

li.big-message a {
  background-position: 0 0;
  width: 450px;
  height: 159px;
}

li.small-message a {
  background-position: -480px 0;
  height: 159px;
  width: 156px;
}

.small-text p {
  font-size: 43px;
}

.call-me {
  height: 161px;
  margin: 0 auto 140px;
  overflow: hidden;
  position: relative;
  top: 15px;
  width: 666px;
}

.call-text p {
  font-size: 40px;
  position: relative;
  top: 41px;
}

.two-big-photo {
  overflow: hidden;
}

.two-big-photo img {
  float: left;
}

.commentary {
  margin: 23px 0;
  text-align: center;
  font-size: 22px;
}

.table {
  background-color: #585858;
  padding-top: 22px;
}

table {
  margin-left: 121px;
}

.table p {
  color: #fff;
}

.table td {
  padding-bottom: 60px;
}

.name {
  width: 323px;
  font-size: 22px;
  padding-right: 35px;
}

.quantity {
  font-size: 40px;
  width: 120px;
  color: #fff;
  padding-right: 108px;
  line-height: 43%;
  text-align: center;
}

.quantity span {
  font-size: 20px;
  text-align: center;
  width: 120px;
}

.cost {
  font-size: 28px;
}

.commentary2 {
  text-align: center;
  font-size: 21px;
  margin-bottom: 10px;
  position: relative;
  bottom: 60px;
}

.photo-frame {
  margin-bottom: 35px;
}

.small-message p {
  font-size: 40px;
  top: 41px;
}

.commentary3 {
  font-size: 31px;
  color: #fff;
  padding-top: 20px;
  padding-bottom: 75px;
  text-align: center;
  background-color: #585858;
}

/* Сторінка 3 */
.page3 h2 {
  font-family: 'a_AvanteBsNr Light', Arial;
  font-size: 44px;
  text-align: center;
  margin: 45px 0 30px 0;
  text-transform: uppercase;
}

.book-list {
  overflow: hidden;
}

.book-list li {
  overflow: hidden;
}

.photo-gallery-wrapp {
  float: left;
}

.photo-gallery-wrapp img {
  width: 501px;
  height: 343px;
}

.photo-gallery-wrapp ul {
  overflow: hidden;
  margin-top: 31px;
  text-align: center;
}

.photo-gallery-wrapp ul li {
  overflow: hidden;
  float: left;
  margin-right: 10px;
  margin-top: 30px;
}

.photo-gallery-wrapp li img {
  width: 110px;
  height: 74px;
  cursor: pointer;
}

.info-wrapp {
  background-color: #585858;
  color: #fff;
  overflow: hidden;
  font-size: 22px;
}

.info-size {
  background-color: #fff;
  color: #000;
  overflow: hidden;
  text-align: center;
  min-height: 100px;
}

.info-size p {
  line-height: 173%;
  padding-top: 25px;
  color: #585858;
}

.info-wrapp dl {
  padding: 20px 10px 25px 10px;
}

.info-wrapp dl p {
  margin-top: 12px;
}

.info-wrapp dt {
  float: left;
}

.special-info {
  margin-left: 10px;
  padding-bottom: 25px;
}
/*----------------------------------------------------------------------------------*/
/*-------------------------------------FOOTER---------------------------------------*/
/*----------------------------------------------------------------------------------*/
footer {
  background-color: #585858;
  padding: 34px 8px 8px 8px;
  overflow: hidden;
}

footer p {
  float: right;
  color: #dadada;
  font-family: 'MyriadProRegular';
  font-size: 19px;
}

footer a {
  color: #dadada !important;
  font-family: 'MyriadProRegular' !important;
  font-size: 19px !important;
  text-decoration: underline !important;
}