/* Slider */
.slick-slider {
    position: relative;
    display: block;
    -moz-box-sizing: border-box;
         box-sizing: border-box;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
        touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list {
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
}
.slick-list:focus {
    outline: none;
}
.slick-list.dragging {
    cursor: pointer;
    cursor: hand;
}
.slick-slider .slick-track,
.slick-slider .slick-list {
    -webkit-transform: translate3d(0, 0, 0);
       -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
         -o-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
			height:440px;
}
button.slick-prev, button.slick-next {
	width: 28px;
    height: 56px;
    position: absolute;
    top: 50%;
    margin-top: -19px;
    left: 30px;
    text-indent: -9000px;
    opacity: 0.7;
    cursor: pointer;
    z-index: 100;
	border:none;
}
button.slick-prev {
	background-image: url('<%= asset_path("left-arrow.fw.png") %>');
    background-repeat: no-repeat;
    background-position: top left;
}
button.slick-next {
	background-image: url('<%= asset_path("right-arrow.fw.png") %>');
    background-repeat: no-repeat;
    background-position: top right;
    left: auto;
    right: 30px;
	opacity: 0.7;
}
button.slick-prev:hover, button.slick-next:hover {
	opacity: 1.0;
}
.slick-track {
    position: relative;
    top: 0;
    left: 0;
    display: block;
}
.slick-track:before,
.slick-track:after {
    display: table;
    content: '';
}
.slick-track:after {
    clear: both;
}
.slick-loading .slick-track {
    visibility: hidden;
}

.slick-slide {
    display: none;
    float: left;
    height: 100%;
    min-height: 1px;
}
[dir='rtl'] .slick-slide {
    float: right;
}
.slick-slide img {
    display: block;
}
.slick-slide.slick-loading img {
    display: none;
}
.slick-slide.dragging img {
    pointer-events: none;
}
.slick-initialized .slick-slide {
    display: block;
}
.slick-loading .slick-slide {
    visibility: hidden;
}
.slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent;
}